@font-face {
    font-family: GucciSansPro;
    src: url('./GucciSansPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: GucciSansPro;
    src: url('./GucciSansPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: GucciSansPro;
    src: url('./GucciSansPro-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: GucciSansPro;
    src: url('./GucciSansPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('./Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}