@import "tailwindcss";

:root {
    --font-family: 'GucciSansPro', Helvetica, Arial, sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: GucciSansPro;
    src: url('./assets/font/GucciSansPro-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: GucciSansPro;
    src: url('./assets/font/GucciSansPro-Bold.woff2');
    font-weight: 500;
}

@font-face {
    font-family: GucciSansPro;
    src: url('./assets/font/GucciSansPro-Book.woff2');
    font-weight: 500;
}

@font-face {
    font-family: GucciSansPro;
    src: url('./assets/font/GucciSansPro-Light.woff2');
    font-weight: 500;
}

@font-face {
    font-family: GucciSansPro;
    src: url('./assets/font/Poppins-Regular.ttf');
    font-weight: 500;
}