@import "tailwindcss";

@import './assets/font/font.css';


:root {
    --font-family: 'GucciSansPro', Helvetica, Arial, sans-serif;
    --font-pops: 'Poppins', sans-serif;
    --spacing: 1px; 
}

*{
    margin: 0;
    box-sizing: border-box;
}

