@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import '../font/font.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
    --font-primary: 'Montserrat', serif;
    --font-family: 'GucciSansPro', sans-serif;
    --font-pops: 'Poppins', sans-serif;
    --spacing: 1px; 
    --size: 44px;
    --color-text-hover: #6774d5;
}

*{
    /* margin: 0; */
    box-sizing: border-box;
}

/* .app {
    height: 1800px;
} */

