@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import '../font/font.css';


:root {
    --font-primary: 'Montserrat', serif;
    --font-family: 'GucciSansPro', sans-serif;
    --font-pops: 'Poppins', sans-serif;
    --spacing: 1px; 
    --size: 44px;
}

*{
    /* margin: 0; */
    box-sizing: border-box;
}

.app {
    height: 1800px;
}

.animated-underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width .3s ease;
}

.animated-underline:hover::after {
    width: 100%;
}